@{
    Layout = null;
    ViewData["Title"] = "Messages";
}

<h1>This will be the main messaging page</h1>
<h2>The overall layout will be as such:</h2>
<ol>
    <li>List of past convos on the left</li>
    <li>Actual messages for selected convo on the right</li>
    <li>Settings/menu on top left</li>
    <li>Options for voice call and video call on top right.</li>
</ol>