@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>This is a messaging application created by Francisco Velazquez.</p>
<p>This is my first application so it won't be nothing fancy but will only be going up from here!</p>
<p>The end result will allow for voice calls as well as video calls.</p>

